@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,700');

* {
  box-sizing: border-box;
}

body {
  background: url(../img2/bg14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 2rem;
  text-align: center;
  min-height: 100vh;
  display: grid;
  padding: 3em;
  place-items: center;
}

h1 { margin: 0; }

code {
  background: rgba(black, .15);
  padding: .1em .2em;
  border-radius: .1em;
}

.box {
  background: white;
  padding: 2em;
  position: relative;
  box-shadow: 0 5px 20px rgba(0,0,0,.25);
  transition: transform 300ms, box-shadow 300ms;
  position: relative;
}



.inner-box {
  padding: .25em;
  box-shadow: 0 10px 35px rgba(0,0,0,.25);
  position: absolute;
  background: white;
  right: 120px;
  bottom: -85px;
}

.left-box {
  padding: .25em;
  box-shadow: 0 10px 35px rgba(0,0,0,.25);
  position: absolute;
  background: white;
  left: 90px;
  bottom: 95px;
}
.right-box {
  padding: .25em;
  box-shadow: 0 20px 55px rgba(0,0,0,.25);
  position: absolute;
  background: white;
  right: -90px;
  left: 100px;
  bottom: -45px;
}
